/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*====== Colors ==========*/

@mapcolor: yellow;

/*====== Wrapper =========*/

#wrapper {
    outline: 1px solid black;
    overflow: auto;
}


/*======= Layout =========*/

body {
    margin: 10px;
}

.left-column {}

.panel {
    outline: 1px solid black;
    margin: 10px 10px;
    float: left;
    display: block;
    clear: left;
    width: 260px;
    overflow: hidden;
}

.panel-heading {
    padding: 10px 15px;
    background-color: cadetblue;
}

.panel .panel-body {}


.main-content-wrapper {
    min-width: 600px;
}


.main-content {
    background-color: @mapcolor;
    margin-left: 280px;
    margin-right: 10px;
    min-width: 300px;
}


/*======= Navigation =========*/

.nav-bar {
    margin-top: 10px;
    .tabrow {
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        line-height: 24px;
        text-align: left;
        position: relative;
        &:after {
            position: absolute;
            content: "";
            width: 100%;
            bottom: 0;
            left: 0;
            border-bottom: 1px solid #AAA;
            z-index: 1;
        }
        
        &:before {
            z-index: 1;
        }
        li {
            background: linear-gradient(to bottom, #ECECEC 50%, #D1D1D1 100%);
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
            text-shadow: 0 1px #FFF;
            margin: 0 -5px;
            padding: 0 20px;
            border: 1px solid #AAA;
            background: #ECECEC;
            display: inline-block;
            position: relative;
            z-index: 0;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            &:before,
            &:after {
                position: absolute;
                bottom: -1px;
                width: 6px;
                height: 6px;
                content: " ";
            }
            
            &:before {
                left: -6px;
                border-bottom-right-radius: 6px;
                border-width: 0 1px 1px 0;
                box-shadow: 2px 2px 0 #ECECEC;
            }
            
            &:after {
                right: -6px;
                border-bottom-left-radius: 6px;
                border-width: 0 0 1px 1px;
                box-shadow: -2px 2px 0 #ECECEC;
            }
            
            &.selected {
                background: #FFF;
                color: #000;
                z-index: 2;
                border-bottom-color: #FFF;
                &:before {
                    box-shadow: 2px 0px 0 #FFF;
                }
                
                &:after {
                    box-shadow: -2px 0px 0 #FFF;
                }
            }
        }
    }
}


/*====== Main-content =========*/

.main-content {
    //border: 1px solid black;
    h1 {
        margin: 0px;
    }
}